* {
    box-sizing: border-box
}
body {
    padding : 0px;
    margin : 0px;
    background : #fffff9;
    font-family: 'Lora', serif;
}

header {
    background : #ae6fe1;
    height : 66px;
}

header * {
    color : white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;

}

header .logo-text {
    margin: 9px;
    font-family: 'Montserrat', serif;
}
header .logo-text span {
    color :#f2d7ff;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background : white;
    color:  #5a5a5a;
}

header ul li ul li a.logout{
    color: rgb(85, 85, 85);
}

header ul li ul li a:hover{
    background : #bdbdbd;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;

}

header ul li a:hover {
    background: #8856b0;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}
/* media queries */

@media only screen and (max-width: 750px) {
    header ul {
        width: 100%;
        background:  #ba94da; 
    }
    header ul li {
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a {
        padding: 10px;
        background: #b78adc; 
        color: white;
        padding-left: 50px;
    }

    header ul li ul li a.logout{
         color: rgb(85, 85, 85);
    }

}